@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lessons .col {
        width: 100%;
    }

    .steps .col {
        width: 100%;
    }

    .why-us .col-left {
        width: 100%;
    }
    
    .why-us .col-right {
        width: 100%;
    }

    .col {
        margin-bottom: 5rem;
    }

    .why-us {
        margin-bottom: 0%;
        background-color: #1f0503;
        padding-top: 50px;
        margin-top: -50px;
    }
}

@media screen and (max-width: 1160px) {
    .container {
        width: 100%;
    }
}